@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Old+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
    
}

body {
    background-image: linear-gradient(to bottom, #3e2904,#3e2904);
}

.px-35 {
    padding-left: 35px;
    padding-right: 35px;
}

#wrapper {
    width: 100%;
    max-width: 990px;
    margin: 0 auto
}

#top {
    position: relative;
}

#top img {
    display: block;
    width: 100%;
}

#menu {
    margin-top: 0px;
    background-image: url(../img/background\ menu.png);
}

#menu ul{
    display: flex;
    padding: -1px;
    justify-content: space-between;
    list-style: none 
}

#menu ul li{
    width: 33%;
}

#menu ul li img{
    width: 100%;
    display: block;
}

#menu a:hover {
    opacity: 0.7;
}

#ramentamago {
    background: url(../img/background\ section\ 1.png);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 97px;
}


.section-menu-1{
    background: url(../img/section\ menu\ 1.png) no-repeat right;
    width: 65%;
    text-align: center;
    max-width: 646px;
    min-height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    padding-left: 40px;
    order: 2;
}

.ramen-tamago{
    /*
    position: absolute;
    top: 5%;*/
    width: 35%;
    max-width: 990px;
    order: 1;
    position: relative;
    padding-top: 50px;
    
}

.text-menu-1{
    /*
    position: absolute;
    top: 19%;

    width: 100%;
    margin-left: 465px;
    margin-bottom: 50%;*/
    font-size: 17px;
    font-weight: bold;
    color: #9d6d18;
    align-items: center;
}

.content-menu-1{
    /*position: absolute;
    width: 100%;
    margin-left: 404px;
    margin-bottom: 50%;
    top:38%;*/
    color: #000000;
    font-size: 24px;
    align-items: center;
}

.note-menu-1{
    font-size: 18px;
    color: #000000;
    order: 3;
    align-items: center;
    padding-left: 50px;
    padding-top: 14px;
}

    /*font-size: 18px;
     color: #000000;
     order: 3;
     padding-right: 200px;
     padding-top: 50px;*/


#hirugao {
    background: url(../img/background\ hirugao\ 2.png);
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 70px;
}


.section-menu-2{
    background: url(../img/section\ menu\ 2.png) no-repeat right;
    width: 64%;
    text-align: center;
    max-width: 646px;
    min-height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    order: 1;
}

.ramen-hirugao{
    width: 35%;
    max-width: 990px;
    padding-top: 40px;
    order: 2;
    position: relative;
}

.ramen-hirugao img{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.text-menu-2{
    /*position: absolute;
    width: 100%;
    margin-left: 71px;
    margin-bottom: 0%;
    top: 98%;*/
    font-size: 17px;
    font-weight: bold;
    color: #9d6d18;
    align-items: center;
}

.content-menu-2{
    /*
    position: absolute;
    width: 100%;
    margin-left: 60px;
    top:106%;
    margin-bottom: 50%;*/
    font-size: 24px;
    color: #000000;
    align-items: center;
}

.note-menu-2{
    font-size: 18px;
    color: #000000;
    order: 3;
    align-items: center;
    padding-left: 50px;
    padding-top: 30px;
}


#soranoiro {
    background: url(../img/background\ section\ 3.png);
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 80px;
}

.section-menu-3{
    background: url(../img/section\ menu\ 3.png) no-repeat right;
    width: 80%;
    text-align: center;
    max-width: 646px;
    min-height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 50px;
    order: 2;
}

.text-menu-3{
    font-size: 17px;
    font-weight: bold;
    color: #9d6d18;
    align-items: center;
}

.content-menu-3{
    font-size: 19px;
    color: #000000;
    align-items: center;
}

.ramen-soranoiro{
    width: 34%;
    max-width: 990px;
    order: 1;
    position: relative;
}


.ramen-soranoiro img{
    position: absolute;
    top: 80px;
}

.note-menu-3{
    font-size: 18px;
    color: #000000;
    order: 3;
    align-items: center;
    padding-left: 70px;
    padding-top: 120px;
}

#kupon{
    background: url(../img/background\ kupon.png);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.kupon-button{
    display: flex;
    padding: 175px;
    justify-content: space-between;
    list-style: none 
}

.kupon-button a:hover {
    opacity: 0.7;
}

#akses{
    background: url(../img/akses-bg.png);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 115px;
}

.text-akses{
    font-size: 40px;
    color: #7c4f0f;
    order: 1;
    align-items: center;
    padding-left: 144px;
    padding-top: 190px;
}

.note-akses{
    font-size: 23px;
    color: #7c4f0f;
    order: 1;
    align-items: center;
    padding-left: 141px;
    padding-top: 20px;
}
